.dsla-login {
    display: block;
    cursor: pointer;
    white-space: nowrap;
}

.dsla-quiz {
    box-shadow: 0 0 4px #0009;
    border-radius: 5px;

    .dsla-quiz-left {
        float: left;
        height: 100%;
        background-color: white;
        margin: 20px;
        font-size: 20pt;
    }
    .dsla-quiz-main {
        margin-left: 60px;
        height: 100%;
        background-color: #eee;
        padding: 10px;
        padding-left: 20px;

        small {
            opacity: 0.7;
            line-height: 250%;
        }

        .dsla-quiz-answer {
            background-color: #f6f6f6;
            margin-bottom: 1px;
            padding: 10px;
            opacity: 0.2;
            transition: opacity 0.5s;
            position: relative;

            &:hover {
                cursor: pointer;
                background-color: white;
            }
            &.show {
                opacity: 1;
            }

            .answer {
                position: absolute;
                //bottom: -40px; 
                //right: 50px;
                top: 10px;
                right: -200px;
                font-weight: bold;
                font-size: 15pt;
                background-color: white;
                padding: 10px 20px;
                border-radius: 10px;
                transition: opacity 1.5s;
                box-shadow: 1px 1px 3px #0006;
                opacity: 0;

                &.answer-wrong {
                    background-color: #d32e9d;
                    color: white;
                }
                &.answer-true {
                    opacity: 1;
                    bottom: inherit;
                }
            }
            &.selected .answer {
                opacity: 1;
            }
        }

        &.answered .dsla-quiz-answer:hover {
            cursor: inherit;    
            background-color: #f6f6f6;
        }
    }

    .dsla-quiz-question {
        font-weight: bold;
    }
}
